body {
display:grid;
justify-content: center;
text-align: center;
background-color: rgb(179, 244, 229);
}

.title {
    display: grid;
    justify-self: center;
    align-items: center;
    width: 300px;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 8px;
    outline: 4px solid rgb(159, 90, 224);
    outline-offset: -8px;
    padding: .5rem;
    background-color: rgb(190, 160, 218);
    border-radius: 10px;
}

#output-box {
    display: grid;
    justify-self: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight:700;
    outline: 0.25rem solid black;
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.686);
    text-align: right;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 284px;
    height: 50px;
    margin-bottom: 8px;
}

.all-container {
    display: grid;
    grid-template-rows: auto;
    height: 25rem;
    padding: .5rem;
    margin: .5rem;
    background-color: rgb(190, 160, 218);
    outline: 4px solid rgb(159, 90, 224);
    box-shadow: 10px 10px 5px 5px;
}

.button-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
}

.button-grid .operator {
    font-weight: 700;
    font-size: 1.1rem;
}

.button-grid .delete, .decimal {
    font-weight: 900;
}

.bottom-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: .5rem;
}

.bottom-grid button {
    height: 3rem;
    font-size: 1rem;
    font-weight: 700;
}


button {
    margin: 0.25rem;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: lightgray;
}


/*
* {
    outline: 1px solid red !important;
}
*/